* {
  margin: 0;
  padding: 0;
}
.home-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(135deg, rgb(89 206 255) 1.00%,rgb(213 72 255) 99.00%);
}
.home-hero {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  justify-content: center;
}
.home-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-card {
  width: auto;
  height: auto;
  display: flex;
  z-index: 1;
  box-shadow: 10px 10px 32px 0px rgb(0 0 0 / 36%);
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 14vw;
  border-radius: 1rem;
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: rgb(0 0 0 / 83%);
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  font-family: sans-serif;
  font-style: normal;
  font-size: 3vh;
  color: #d4d4d4;
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 2.3rem;
  gap: 0.4rem;
}
.selected {
  font-weight: 600;
  text-decoration: underline;
}
.option {
  display: flex;
  align-items: center;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  cursor: pointer;
  background: #0000001c;
}